.pokewalker
	.top
	.bottom
	.line
	.screen.off
		img.main-mon(src="https://raw.githubusercontent.com/mariawarnes/codepen-assets/main/pikachu-sprite.png")
		img.env(src="https://raw.githubusercontent.com/mariawarnes/codepen-assets/main/grass.png")
		.line
		.steps(data-count="327") 
			span 327
	.btns
		.btn-wrap.left
			.triangle
			button
		.btn-wrap.middle
			button
		.btn-wrap.right
			.triangle
			button
.info
	p Press and hold the middle button to wake/sleep the screen.
	button.walking Walk
	p
		ul
			li
				small 
					a(href="https://tenor.com/en-GB/view/pokemon-pikachu-ash-ketchum-gif-23521138") Walking sprite
					|  by 
					a(href="https://tenor.com/en-GB/users/illeztboii") illeztboii
			li
				small
					a(href="https://archives.bulbagarden.net/media/upload/archive/2/22/20220612134505%21Spr_4d_025_m.png") Pikachu sprite
					|  by 
					a(href="https://bulbapedia.bulbagarden.net/wiki/File:Spr_4d_025_m.png") Chalkwriter
			li
				small
					a(href="https://unsplash.com/photos/_EzTds6Fo44") Screen texture
					|  by 
					a(href="https://unsplash.com/@bamin") Pierre Bamin